/* TODO Add site wide styles */
#profile-pic {
    height:400px;
    margin-left: 150px;
}

#nav {
    position: fixed;
    display: block;
    top: 2.5em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

    #nav > ul {
        display: inline-block;
        border-radius: 0.35em;
        /* background: rgb(25, 37, 58); */
        background: url(./documents/banner.jpg) center center;
        box-shadow: inset 0px 0px 1px 1px rgba(196, 196, 196, 0.829);
        padding: 0 1.5em 0 1.5em;
    }

        #nav > ul > li {
            display: inline-block;
            text-align: center;
            padding: 0 1.5em 0 1.5em;
        }

            #nav > ul > li > ul {
                display: none;
            }

            #nav > ul > li > a, #nav > ul > li > span {
                display: block;
                color: rgb(255, 255, 255);
                color: rgba(255, 255, 255, 0.75);
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.7em;
                letter-spacing: 0.25em;
                height: 5em;
                line-height: 5em;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
                -o-transition: all .25s ease-in-out;
                -ms-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
                outline: 0;
            }

            #nav > ul > li:hover > a {
                color: #fff;
            }

            #nav > ul > li.active > a, #nav > ul > li.active > span {
                color: #fff;
            }